# Análise de Sentimento para Revisões de Filmes

## Segundo Exercício Prático


Neste TP você deve explorar a base de dados para análise de sentimento sobre um filme (`rotten tomatoes`). Você não precisa rodar nenhum algoritmo de Aprendizagem de Máquina para obter uma acurácia sobre o sentimento das pessoas sobre o filme. No entanto, você deve utilizar os conceitos discutidos na primeira e segunda aula para explorar a base de dados e garantir que ela esteja pronta para algum algoritmo.

Neste caso, o aluno deve obrigatoriamente utilizar dois algoritmos para vetorizar a base de dados:

1. CountVectorizer e TfidfVectorizer, ambos estão disponíveis no Scikit Learn do Python, mas você pode utilizar qualquer implementação que resolva o problema
2. Gere gráficos interessantes, por exemplo, das palavras mais frequentes sobre cada sentimento (negativo, pouco negativo, neutro, pouco positivo, positivo)
3. Pelo menos lemmatize os tokens.
4. Um extra interessante para o seu TP pode ser a aplicação de uma nuvem de palavras (word cloud)

O dataset se encontra na pasta `data` dentro deste mesmo diretório, o arquivo de treino se chama `train-movie.csv` e o arquivo de teste se chama `test-movie.csv`.

As classes do dataset são as seguintes:

* 0 - *negativo*
* 1 - *pouco negativo*
* 2 - *neutral*
* 3 - *pouco positivo*
* 4 - *positivo*

In [2]:
# Algumas bibliotecas que vocês podem utilizar para a prática
import pandas as pd
import numpy as np
# para visualização
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### O dataset utilizado pode ser chamado assim

In [3]:
df_train = pd.read_csv("../data/train-movie.tsv", sep='\t')
df_train.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

Observe que as colunas PhraseId e Sentence Id não são necessárias para nossa análise

In [3]:
df_test = pd.read_csv("../data/test-movie.tsv", sep='\t')
df_test.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

O conjunto de teste não será necessário para essa parte do TP, mas você pode analisar se preferir

### Distribuição das classes

In [4]:
df_train.Sentiment.value_counts()

2    79582
3    32927
1    27273
4     9206
0     7072
Name: Sentiment, dtype: int64

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
PhraseId      156060 non-null int64
SentenceId    156060 non-null int64
Phrase        156060 non-null object
Sentiment     156060 non-null int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

Continue seu TP a partir daqui